<!-- <h2> Grumble Index </h2>

<div ng-repeat="grumble in GrumbleIndexViewModel.grumbles">
  <a data-ui-sref="grumbleShow( {id: $index} )">{{grumble.title}}</a>
</div> -->


<!-- <!DOCTYPE html>
<html lang="en" ng-app="grumblr">
<head>
  <meta charset="UTF-8">
  <title>UGH</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/grumblr/grumblr.controller.js"></script>
</head>
<body> -->
  <h1>So Grumble</h1>
  <div ng-controller="grumblrController as grumblrViewModel">
    <button ng-click="grumblrViewModel.showGrumblrs()"> {{ grumblrViewModel.showGrumButtText }} </button>
    <div ng-show="grumblrViewModel.showGrumblrsVisible">
        <div ng-repeat="grumblr in grumblrViewModel.grumblr">
          <div class="grumblr{{$index}}">
            <h2>Grumblr{{$index}}</h2>
            <p> title: {{grumblr.title}} <br></p>
            <p> author: {{grumblr.authorName}} <br></p>
            <p> content: {{grumblr.content}}  <br></p>
            <p> photoUrl: {{grumblr.photoUrl}}  <br></p>

            <button class ='edit' ng-click="grumblrViewModel.edit($index); editVisible = !editVisible">Edit {{grumblr.title}}</button>
            <form ng-show="editVisible">
              <br><label>title</label><input type="text" name="title" ng-value="grumblr.title"><br>
              <label>author</label><input type="text" name="authorName" ng-value="grumblr.authorName"><br>
              <label>content</label><input type="text" name="content" ng-value="grumblr.content"><br>
              <label>photoUrl</label><input type="text" name="photoUrl" ng-value="grumblr.photoUrl"><br>
              <button ng-click="editVisible = !editVisible; grumblrViewModel.update($index)">Update GRUMBLE MAKE NOW</button>
            </form>
            <br>
          </div>
        </div>
    </div>
    <br>

    <button ng-click="grumblrViewModel.toggleForm()" class="createGrumButt">{{grumblrViewModel.createGrumButtText}}</button>
    <form ng-show="grumblrViewModel.formIsVisible">
      <br><label>title</label><input type="text" name="title" class="newGrum"><br>
      <label>author</label><input type="text" name="authorName" class="newGrum"><br>
      <label>content</label><input type="text" name="content" class="newGrum"><br>
      <label>photoUrl</label><input type="text" name="photoUrl" class="newGrum"><br>
      <button ng-click="grumblrViewModel.addGrum()">NEW GRUMBLE MAKE NOW</button>
    </form>
  </div>



<!-- </body>
</html> -->
